<!DOCTYPE html>
<title>{% block title %}{% endblock %}- portafolio</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap" rel="stylesheet"> 
<body> 
    <header>
     <div class="logo">KEVIN DIAZ</div>
        <nav>
            <ul>
                <li><a href="{{ url_for('portfolio.index') }}">Inicio</a></li>
                <li><a href="#contacto">contacto</a></li>
            </ul>
        </nav>
    </header>
    <section>{% block content %}{% endblock %}</section>        
    <div class="made-with">
        <div class="row">
            <p>Hechon con ❤ por Kevin diaz</p>
        </div>
    </div>
</body>